<div class="container">
    {{ form_start(form) }}
        <div class="row">{{ form_row(form.nom) }}</div>
        <div class="row">{{ form_row(form.description) }}</div>
        <div class="row">{{ form_row(form.prix) }}</div>
        <div class="row">{{ form_row(form.imageFile) }}</div>
        <div class="row">{{ form_row(form.ubereats) }}</div>
        <div class="row">{{ form_row(form.deliveroo) }}</div>
        <div class="row">{{ form_row(form.categories) }}</div>
        <div class="d-flex justify-content-center mt-3">
            <button class="btn">{{ button_label|default('Save') }}</button>
        </div>
    {{ form_end(form) }}
</div>
