{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    {% block menu %}
        {% include "components/navbar.html.twig" %}
    {% endblock %}
{# Suggestion & menu #}
<div class="container-fluid mt-5 ">
    <div class="row" data-masonry='{"percentPosition": true }'>
        <div class="col-6 d-flex align-items-stretch justify-content-center">
            <div class="card text-dark bg-light mb-3 w-100" style="">
                <div class="card-header text-uppercase">{{suggestion.nom}} </div>
                {# {{ dump(suggestion.produits)}} #}
                {% for produit in suggestion.produits %}
                    <div class="card-body">
                            <div class="row">  
                                <div class="col-8 d-flex">
                                <p> <span class="h5 text-uppercase">{{produit.nom}}</span></p>
                                </div>
                                <div class="col-4 d-flex ">
                                    <p class="col-8 fs-2">{{produit.prix}}€</p>
                                    <p classe="col-2 mr-1">{{ produit.ubereats ? uber : '' }}</p>
                                    <p classe="col-2 ml-2">{{ produit.deliveroo ? deliveroo : '' }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <p style="margin:-15px 0  0 15px; "> {{produit.description|raw }}</p>
                            </div>
                            {% if loop.last == false  %}
                            <hr>
                            {% endif %}
                            {% endfor %}
                    </div>
            </div>
        </div>
    </div>
</div>
{# card #}
{% set uber %}
    <img src="{{ asset('images/ubereats.png') }}" style="max-width: 30px">
{% endset %}

{% set deliveroo %}
    <img src="{{ asset('images/deliveroo.png') }}" style="max-width: 30px">
{% endset %}
<div class="container-fluid mt-5 ">
    <div class="row" data-masonry='{"percentPosition": true }'>
            {% for categorie in categories %}   
        <div class="col-6 d-flex align-items-stretch justify-content-center">
            <div class="card text-dark bg-light mb-3 w-100" style="">
                <div class="card-header text-uppercase">{{categorie.nom}}</div>
                    <div class="card-body">
                        {% for produit in categorie.produits %}
                            <div class="row">  
                                <div class="col-8 d-flex">
                                <p> <span class="h5 text-uppercase">{{produit.nom}}</span></p>
                                </div>
                                <div class="col-4 d-flex ">
                                    <p class="col-8 fs-2">{{produit.prix}}€</p>
                                    <p class="col-2">{{ produit.ubereats ? uber : '' }}</p>
                                    <p class="col-2">{{ produit.deliveroo ? deliveroo : '' }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <p style="margin:-15px 0  0 15px; "> {{produit.description|raw }}</p>
                            </div>
                            {% if loop.last == false  %}
                            <hr>
                            {% endif %}
                        {% endfor %}
                    </div>
            </div>
        </div>
            {% endfor %}
    </div>
</div>
{% endblock %}
