{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    {% block menu %}
        {% include "components/navbar.html_en.twig" %}
    {% endblock %}

<div class="container-fluid mt-3 ">
    <div class="suggestion">
        <p class="titrecat text-center mt-2">{{catSuggestion.nomEn}}</p>
        {% for p in catSuggestion.produits %}
            <p class="sugg"><span class="h5 text-uppercase ml-3">{{p.nomEn}}</span></p>
        {% endfor %}
    </div>

    <div class="starter">
            <p class="titrecat text-center mt-2">{{catStarter.nomEn}}</p>
            <div class="d-flex justify-content-end align-self-end" style="margin-top: -30px;">
                <p class="mr-4">Entree</p>
                <p class="ml-5">Dish</p>
            </div>        
            <hr class="starterHr">
        {% for p in catStarter.produits %}
            <div class="d-flex justify-content-between">
                <div class="col-10 d-flex">
                    <p><span class="h4 text-uppercase prodid2">{{p.nomEn}}</span></p>
                    <p class="ml-1 descid2">{{p.descEn|raw }}</p>
                </div>
                <div class="d-flex">
                    <p class="prix mr-5 prixStarter">{{p.prixOptionnel}}
                        {% if p.prixOptionnel == true %}
                            €
                        {% endif %}
                    </p>
                    <p class="prix">{{p.prix}}€</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="next mt-2">
        {% for c in catNext|slice(2, 6) %}
        <div class="cartes">
            <p class="titrecat titre text-center mt-2">{{c.nomEn}}</p>
            <hr class="nextHr">
                {% for p in c.produits %}
                    <div class="d-flex justify-content-between ">
                        <p><span class="h4 text-uppercase ml-3 prodNext">{{p.nomEn}}</span></p>
                        <p class="prixNext">{{p.prix}}</p>
                    </div>
                    <p class="mb-3 descNext">{{p.descEn|raw }}</p>
                {% endfor %}
        </div>
        {% endfor %}
    </div>

    {% block footer %}
        {% include "components/footer.html.twig" %}
    {% endblock %}
{% endblock %}
