{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    {% block menu %}
        {% include "components/navbar.html_de.twig" %}
    {% endblock %}

<div class="container-fluid mt-5 ">
    <div class="suggestion">
        <h1 class="text-center mt-3">{{catSuggestion.nomDe}}</h1>
        {% for p in catSuggestion.produits %}
            <p><span class="h5 text-uppercase ml-3">{{p.nomDe}}</span></p>
        {% endfor %}
    </div>

    <div class="starter">
        <h1 class="text-center mt-4">{{catStarter.nomDe}}</h1>
        <hr class="starterHr">
        {% for p in catStarter.produits %}
            <div class="d-flex justify-content-between">
                <div class="col-10 d-flex">
                    <p><span class="h4 text-uppercase prodid2">{{p.nomDe}}</span></p>
                    <p class="ml-1 descid2">{{p.descDe|raw }}</p>
                </div>
                <div class="d-flex">
                    <p class="mr-5 prixStarter">{{p.prixOptionnel}}
                        {% if p.prixOptionnel == true %}
                            €
                        {% endif %}
                    </p>
                    <p class="prixStarter">{{p.prix}}€</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="next mt-4">
        {% for c in catNext|slice(2, 6) %}
        <div class="cartes">
            <h4 class="titre text-center mt-2">{{c.nomDe}}</h4>
            <hr class="nextHr">
                {% for p in c.produits %}
                    <div class="d-flex justify-content-between ">
                        <p><span class="h4 text-uppercase ml-3 prodNext">{{p.nomDe}}</span></p>
                        <p class="prixNext">{{p.prix}}</p>
                    </div>
                    <p class="mb-4 descNext">{{p.descDe|raw }}</p>
                {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
