{% extends 'base.html.twig' %}
{% set uber %}
    <img src="{{ asset('images/ubereats.png') }}" style="max-width: 30px">
{% endset %}

{% set deliveroo %}
    <img src="{{ asset('images/deliveroo.png') }}" style="max-width: 30px">
{% endset %}

{% block body %}
    {% block menu %}
        {% include "components/navbar.html.twig" %}
    {% endblock %}
    {% for categorie in ong.ongletcategories %}
            {% for produit in categorie.produits %}
        <div class="row">  
            <div class="col-8 d-flex">
                <p> <span class="h5 text-uppercase">{{produit.nom}}</span></p>
            </div>
            <div class="col-4 d-flex ">
                <p class="col-8 fs-2">{{ produit.prix }}€</p>
                <p class="col-2 mr-1">{{ produit.ubereats ? uber : '' }}</p>
                <p class="col-2 ml-2">{{ produit.deliveroo ? deliveroo : '' }}</p>
            </div>
        </div>
        <div class="row">
            <p style="margin:-15px 0  0 15px; "> {{produit.description|raw }}</p>
        </div>
        {% endfor %}
        <hr>
    {% endfor %}
{% endblock %}