{% extends 'base.html.twig' %}

{% block body %}
    {% block menu %}
        {% include "components/navbar.html_ru.twig" %}
    {% endblock %}

    <div class="mt-5 ml-3" data-masonry='{"percentPosition": true }'>
        {% for categorie in ong.ongletcategories %}
    <div class="onglet ml-3">
        <p class="titrecat2 text-center mt-2">{{categorie.nomEs}}</p>
        <hr class="ongletHr">
            {% for produit in categorie.produits %}
                <div class="d-flex justify-content-between ">
                    <p><span class="text-uppercase produit">{{produit.nomEs}}</span></p>
                    <p class="descid3">{{produit.descEs|raw }}</p>
                    {% if produit.prix == 0 %}
                        <p class="prix" style="display: none;">
                    {% endif %}
                        <p class="prix">{{produit.prix}}</p>
                </div>
            {% endfor %}
    </div>
        {% endfor %}
    </div>
{% endblock %}


                    {# {% if produit.prix == 0 %}
                        <p class="prix" style="display: none;">
                    {% else %}
                        <p class="prix" style="display: block;">{{produit.prix}}</p>
                    {% endif %} #}