<footer class="d-flex" style="position: absolute; left: 0, right: 0; bottom: 0; height: 200px;">
  <!-- Grid container -->
  <div class="container d-flex p-1">
  
      <div class="d-flex">

        <div class="left" style="flex-direct: column; width: 50vw; height: 200px;">
          <div class="information">
            <div class="container-informations">
                <p class="titre-informations" style="font-size: 16px; color: black; text-transform: uppercase">
                  INFORMATIONS SUR LES RUPTURES                 
                </p>
                <p class="texte-informations"></p>
            </div>
            </div>


          <div class="container">

              <img style="width: 60px" src="{{ asset('/images/icon-ancv.jpg' )}}"/>
              <img style="width: 60px" src="{{ asset('/images/icon-applepaid.jpg' )}}"/>
              <img style="width: 60px" src="{{ asset('/images/icon-cards.jpg' )}}"/>
              <img style="width: 60px" src="{{ asset('/images/icon-ticket.jpg' )}}"/>
              <img style="width: 60px" src="{{ asset('/images/icon-especes.jpg' )}}"/>

              <p style=" text-align: center; font-size: 10px; color: black;">Prix nets - services complets</p>


          </div>

        </div>


          <div class="right" style="width: 540px; height: 200px;">

            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" style="width: 50%; height: 200px;">
                <div class="carousel-item active">
                    <img class="w-100" src="{{ asset('/images/slider/slider1.jpg' )}}" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{{ asset('/images/slider/slider2.jpg' )}}" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{{ asset('/images/slider/slider3.jpg' )}}" alt="Third slide">
                </div>
            </div>

          </div>


      </div>

  </div>
  <!-- Grid container -->
</footer>
