<div class="container-fluid">
  <div class="row align-items-center" style="height: 200px">
    <div class="col-4">
        <div class="col-12 logo d-flex align-items-center justify-content-center mt-5">
           <a href="/de"><img style="height: 120px;" src="{{ asset('/images/logo-cosmo.jpg' )}}" alt="logo-restaurant"></a>
        </div>
    </div>
    <div class="col-8" style="overflow:hidden;"> 
        <h6 class="text-center mt-4">Sprache</h6>
        <div class="row flex justify-content-end">
            <div class="flag"> <a href="/"><img class="img-fluid mx-auto d-block my-3" style="max-width:70%;" src="{{ asset('/images/flag/fr.png' )}}" alt="" srcset=""> </a></div>
            <div class="flag"> <a href="/ru"><img class="img-fluid mx-auto d-block my-3" style="max-width:70%;" src="{{ asset('/images/flag/ru.png' )}}" alt="" srcset=""> </a></div>
            <div class="flag"> <a href="/de"><img class="img-fluid mx-auto d-block my-3" style="max-width:70%;" src="{{ asset('/images/flag/de.png' )}}" alt="" srcset=""> </a></div>
            <div class="flag"> <a href="/en"><img class="img-fluid mx-auto d-block my-3" style="max-width:70%;" src="{{ asset('/images/flag/gb.png' )}}" alt="" srcset=""> </a></div>
            <div class="flag"> <a href="/it"><img class="img-fluid mx-auto d-block my-3" style="max-width:70%;" src="{{ asset('/images/flag/it.png' )}}" alt="" srcset=""> </a></div>
            <div class="flag"><img class="img-fluid mx-auto d-block my-3" style="height: 60px; width: 60px;" src="{{ asset('/images/hand_anim_black.gif' )}}" alt="" srcset=""></div>
        </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-around mt-5" style="width: 100vw;">
    {% for onglet in onglets %}
        <a href="{{path('ongletDe', {'id': onglet.id})}}" class="btn btn-danger btn-sm p-1" style="font-size: 12px;">{{onglet.nomDe}}</a>
    {% endfor %}
    <a href="/nesDE" class="btn btn-danger btn-sm p-1" style="font-size: 12px;">Carte Nesspresso</a>
    <a href="/dejDE" class="btn btn-danger btn-sm p-1" style="font-size: 12px;">Petit Déjeuner</a>
    <a href="/menuDe" class="btn btn-danger btn-sm p-1" style="font-size: 12px;">Cosmo-Menü</a>
</div>
<div class="d-flex justify-content-center mt-3" style="width: 100vw;">
</div>